<% provide (:title), "User" %>
<% provide (:header), @user.name %>

<%= @user.name %>, <%= @user.email %>

<H1>This is <%= @user.name %></H1>

<div class="col-md-8">
	<% if @posts.any? %>
		<h3>Posts</h3>
		<ul class="posts">
			<%= render @posts %>
		</ul>
		<%= will_paginate @posts %>
	<% end %>
</div>