<!--navigation bar-->
<div>
	<div class="button">
		<a class="btn-open" href="#"></a>
	</div>
</div>

<!--overlay-->
<div class="overlay">
	<div class="wrap">
		<ul class="wrap-nav">
			<!--Home column -->
			<li>
				<%= link_to "Home", root_path %>
			</li>
			<!--About column -->
			<li><%= link_to "About", about_path %>
				<ul>
					<li><%= link_to "About Company", '#' %></li>
					<li><%= link_to "Design", '#' %></li>
				</ul>
			</li>
			<!--Blog column-->
			<li><%= link_to "Blog", blog_path %>
				<ul>
					<li><%= link_to "Stuff", '#' %></li>
					<li><%= link_to "Info", '#' %></li>
				</ul>
			</li>
		</ul>
	</div>
</div>