<!DOCTYPE html>
<html>
<head>
  <title>Testing Ground | <%= yield(:title) %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

</head>
<body>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
	<%= yield %>
	<footer>
		<%= render 'layouts/navigation' %> <!--load nav menu1-->
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</footer>
</body>
</html>
